* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 75px;
    z-index: 999;
    background-color: #149777;
    width: 100%;
}

.logo {
    font-size: 30px;
    padding-left: 18%;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-right: 18%;
}


.nav-links li a {
    display: flex;
    gap: 5px;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0 15px;
    cursor: pointer;
}

/* toggle for res */
.mobile-menu-icon {
    display: none;
}

.nav-links-mobile {
    position: fixed;
    display: block;
    list-style: none;
    background-color: rgb(5, 0, 48);
    width: 100%;
    height: 100vh;
    text-align: center;
    top: 75px;
    transition: all 0.5s ease-out;
}

.nav-links-mobile li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.5s ease-out;
}

.nav-links-mobile li {
    margin-top: 10px;
}

.ad-button{
    background-color: #ffc800;
    padding: 12px;
    border-radius: 5px;
    font-weight: 700;
    color: #673500;
    font-size: 14px;
}



/* res */
@media screen and (max-width: 500px) {
    .nav-links {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        background-color: Transparent;
        border: none;
        color: white;
        padding-right: 7%;
    }
}