.info-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 15px;
    background-color: #1497768b;
}

.info-title h1{
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.info-title .profile-edit-button{
    background-color: #f3f6f5;
    color: #424e4e;
    padding: 3px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 0 #e7edee;
    text-shadow: 0 1px 0 #fff;
    border: 1px solid #d4ded9;
}

.info-data .name{
    font-size: 20px;
    font-weight: 700;
}

.info-data .username{
    font-size: 16px;
    color: gray;
}

.user-info{
    margin-bottom: 20px;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
    /* margin-top: 10px; */
}



.table-title{
    width: 20%;
}